.main {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 5.438rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-title {
  font-size: 1.3rem;
  color: white;
  font-family: "Rubik", sans-serif;
  padding-left: 1rem;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing-item {
  margin-top: 3rem;
  list-style: none;
  box-shadow: 0px 13px 43px -30px rgba(0, 0, 0, 0.75);
  height: 22.8rem;
  width: 23rem;
  border-radius: 2rem;
  box-sizing: border-box;
}

.listing-image {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
  background-color: white;
}

.listing-title {
  font-weight: 600;
  padding: 1rem 0 0 1rem;
}

.listing-location {
  padding: 0.3rem 0 0 1rem;
}

.pagination-btns {
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.pagination-btn {
  color: white;
  width: 2.4rem;
  height: 2.5rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 0.7rem;
  margin-right: 0.5rem;
}

.pagination-btn-active {
  color: var(--bg-color);
  width: 2.4rem;
  height: 2.5rem;
  background-color: white;
  border: none;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 0.7rem;
}

.scroll-to-top-button {
  position: fixed;
  right: 15px;
  bottom: 40px;
  border-radius: 2rem;
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: var(--bg-color);
  font-size: 2rem;
  font-weight: 200;
  color: white;
  cursor: pointer;
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  .navbar-title {
    font-size: 2rem;
    padding-left: 2rem;
  }

  .content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .scroll-to-top-button {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 4rem;
    border: none;
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-color);
    font-size: 3rem;
    font-weight: 200;
    color: white;
    padding-top: 1.3rem;
  }

  .pagination-btn {
    color: white;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    border: none;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 0.8rem;
    margin-right: 0.5rem;
  }

  .pagination-btn-active {
    color: var(--bg-color);
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 0.8rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .scroll-to-top-button {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 4rem;
    border: none;
    width: 3.3rem;
    height: 3.3rem;
    background-color: var(--bg-color);
    font-size: 2.5rem;
    font-weight: 200;
    color: white;
    padding-top: 0.65rem;
  }
}
